<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._54year.dawn.excel.dao.mapper.ExcelDemoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com._54year.dawn.excel.entity.ExcelDemo">
        <id column="id" property="id" />
        <result column="full_name" property="fullName" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="sign" property="sign" />
    </resultMap>

</mapper>
